.esercizio1 {
    text-align: center;
    border: 2px solid black;
    width: 20%;
    margin: auto;
    padding: 5px;
    background-color: beige;
    margin-top:10rem;
}

.esercizio2 {
    text-align: center;
    border: 2px solid black;
    width: 20%;
    margin: auto;
    padding: 5px;
    background-color: beige;
    margin-top: 5rem;
   
}

span:hover {
    font-size: 20px;
    transition-duration: .8s;
}

button:hover {
    font-size: 30px;
    transition-duration: .8s;
    background-color:brown;
    color: white;
}

body {
    background-color: bisque;
}
